:root {
  --main-color: #b38d25;
  --main-hover: #99781f;
  --grey: #f5f5f5;
}

section {
  margin-bottom: 3rem;
}

.btn_style {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  display: flex;
  width: max-content;
  padding: 0.5rem 2rem;
  text-decoration: none;
  margin: 1rem auto 0 auto;

  transition: all 250ms linear;
}

.btn_style:hover {
  background-color: var(--main-color);
  color: white;
}

h2 {
  color: var(--main-color);
}

@media (min-width: 768px) {
  .mb_none {
    display: block;
  }

  .mb_block {
    display: none;
  }
}

@media (max-width: 768px) {
  .mb_none {
    display: none;
  }

  .mb_block {
    display: block;
  }
}

.module_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner_item_content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.banner_item_content > div {
  width: calc(50% - 0.5rem);

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.banner_slider {
  background: rgb(223, 205, 138);
  background: linear-gradient(
    90deg,
    rgba(223, 205, 138, 1) 0%,
    rgba(179, 141, 37, 1) 100%
  );
  padding-top: 4rem;
}

.banner_item_content h2 {
  font-size: 3.15rem;
}
.banner_item_content a {
  color: white;
  border: 1px solid white;
  padding: 0.5rem 2rem;
  display: block;
  font-size: 0.95rem;

  text-decoration: none;

  width: max-content;

  transition: 0.25s linear;
}

.banner_item_content a:hover {
  background-color: white;
  color: var(--main-color);
}

.banner_item_content img {
  width: 100%;
  max-width: 35rem;
}

.banner_slider .swiper-pagination {
  text-align: start;
}
.banner_slider .swiper-pagination-bullet {
  background: white;
  width: 1.75rem;
  height: 0.25rem;
  border-radius: 0.25rem;
}

@media (max-width: 768px) {
  .banner_item_content > div {
    width: 100%;
    align-items: center;
  }

  .banner_item_content h2 {
    font-size: 2rem;
  }

  .banner_item_content img {
    width: 100%;
    max-width: 20rem;
  }

  .banner_item_content a {
    padding: 0.35rem 2rem;
    display: block;
    font-size: 0.75rem;

    text-decoration: none;

    width: max-content;

    transition: 0.25s linear;
  }
}

.banner_slider .swiper-slide.banner_item:not(.swiper-slide-active) {
  opacity: 0 !important;
}

@media (max-width: 576px) {
  .banner_item_content h2 {
    font-size: 2rem;
  }
  .banner_item_content > div:last-child {
    display: none;
  }

  .banner_slider {
    padding: 5rem 0;
  }
}

/* Hakkımızda */

.about_us_section {
  position: relative;
}

.about_us_flex {
  display: flex;
  justify-content: end;
  padding: 3rem 0;
  z-index: 2;

  position: relative;
}

.about_us_block {
  width: 50%;

  background-color: var(--grey);
  box-shadow: 0 0 2px var(--main-color);
  padding: 1.5rem 2rem;
}

.about_us_block h2 {
  color: var(--main-color);
}

.about_us_block p {
  color: black;
}

.about_us_block a {
  color: var(--main-color);

  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.about_us_block a:hover {
  color: var(--main-hover);
}

.about_us_section > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 53%;
  height: 100%;
  object-fit: cover;
}

.about_us_block > img {
  margin-bottom: 0.5rem;
}

@media (max-width: 992px) {
  .about_us_section > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 53%;
    height: 100%;
    object-fit: cover;
  }

  .about_us_block p {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .about_us_section > img {
    display: none;
  }

  .about_us_block {
    width: 100%;
  }

  .about_us_flex {
    padding: 0;
  }
}

/* Hizmetler */

.services {
  display: flex;
  flex-wrap: wrap;
}

.service_item {
  width: calc((100% / 4));
  height: 30rem;

  position: relative;
  overflow: hidden;
}

.service_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service_item_content {
  width: 100%;
  height: auto;
  background-color: rgb(179, 141, 37, 0.9);
  position: absolute;
  bottom: -100%;
  left: 0;
  padding: 1rem;

  transition: bottom 250ms;
}

.service_item:hover .service_item_content {
  bottom: 0;
}

.service_item_content small {
  color: white;
  font-size: 0.8rem;
}

.service_item_content h3 {
  color: white;
  font-size: 1.5rem;
}

.service_item_content a {
  color: white;

  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 992px) {
  .service_item {
    width: calc((100% / 2));
    height: 25rem;
  }
}

@media (max-width: 480px) {
  .service_item {
    width: calc((100%));
    height: 20rem;
  }

  .service_item .service_item_content {
    bottom: 0;
  }
}

/* Avantajlar */

.avantages {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.avantage_item {
  background-color: var(--grey);

  box-shadow: 0 0 2px var(--main-color);
  padding: 1.5rem;

  width: calc(25% - 0.75rem);
  height: auto;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.avantage_item img {
  width: 2.5rem;
}

.avantage_item h3 {
  font-size: 1.3rem;
  margin: 0;
}

.avantage_item p {
  font-size: 0.8rem;
  margin: 0;
}

@media (max-width: 992px) {
  .avantage_item {
    width: calc(50% - 0.5rem);
  }

  .avantage_item p {
    font-size: 0.75rem;
  }
}

@media (max-width: 480px) {
  .avantage_item {
    width: 100%;
  }
}

/* Neden Biz */

.why_we_module {
  width: 50%;
  height: auto;
  padding: 6rem 0 8rem 0;
  display: flex;
  align-items: center;
}

/* .why_we_module > div {
  width: 50%;
  height: 100%;
  position: relative;
} */

.why_we_bg {
  position: relative;
}

.why_we_bg .why_we_module {
  position: relative;
  z-index: 2;
  padding-right: 2rem;
}

.why_we_module > img {
  position: absolute;
  bottom: 0;
  right: 1.5rem;
  max-width: 3rem;
}

.why_we_content h2 {
  margin: 0;
}

.why_we_content > div {
  margin-top: 0.5rem;
}

.why_we_content > div > *:last-child {
  margin-bottom: 0;
}

.why_we_content p {
  font-size: 0.85rem;
}

.why_we_bg > img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 992px) {
  .why_we_module {
    padding: 4rem 0 6.5rem 0;
  }
  .why_we_content h2 {
    font-size: 1.75rem;
  }
  .why_we_content p {
    font-size: 0.8rem;
  }
}

.why_we_bg:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;

  background: rgb(223, 205, 138);
  background: linear-gradient(
    90deg,
    rgba(223, 205, 138, 1) 0%,
    rgba(179, 141, 37, 1) 100%
  );
}

@media (min-width: 768px) {
  /* . */
}

.why_we_content h2,
.why_we_content p {
  color: white;
}

@media (max-width: 768px) {
  .why_we_module {
    padding: 4rem 0 6.5rem 0;
  }
  .why_we_content h2 {
    font-size: 1.75rem;
  }
  .why_we_content p {
    font-size: 0.8rem;
  }

  .why_we_module {
    width: 100%;
  }

  .why_we_bg > img {
    display: none;
  }

  .why_we_bg:after {
    width: 100%;
  }
}

/* Hizmetlerden Kareler */

.service_blocks {
  display: flex;
  gap: 3rem;
}

.service_blocks > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.service_blocks .service_block_item {
  width: 100%;
  height: 27rem;

  box-shadow: 0 0 2px var(--main-color);
}

.service_blocks .service_block_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .service_blocks .service_block_item {
    height: 24rem;
  }
}

@media (min-width: 480px) {
  .service_blocks > div:nth-child(1) {
    margin-top: 2rem;
  }

  .service_blocks > div:nth-child(3) {
    margin-top: 4rem;
  }
}

@media (max-width: 992px) {
  .service_blocks {
    gap: 2rem;
  }

  .service_blocks > div {
    gap: 2rem;
  }
  .service_blocks .service_block_item {
    height: 19rem;
  }
}

@media (max-width: 768px) {
  .service_blocks,
  .service_blocks > div {
    gap: 1rem;
  }

  .service_blocks .service_block_item {
    height: 15rem;
  }
}

@media (max-width: 480px) {
  .service_blocks {
    flex-direction: column;
  }

  .service_blocks > div {
    flex-direction: row;
  }

  .service_blocks .service_block_item {
    height: 12rem;
  }
}
